:root {
    --ion-color-primary: #fab274;
    --ion-color-primary-rgb: 66,185,131;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #e79d5b;
    --ion-color-primary-tint: #f8b680;
}